@font-face {
    /* 字型名稱 */
    font-family: Ngaan;
    /* 字型來源 src 路徑 url */
    src: url(./font/I.Ngaan.ttf);
}

*{
    font-family: 微軟正黑體;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 導覽列 */
nav{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 30px 100px;
    /* 定位：固定 */
    position: fixed;
    /* 上：0 bottom-->下 */
    top: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    width: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);

}

#logo span{
    font-family: Ngaan;
    font-size: 45px;
    font-weight: 900px;
}

#nav{
    display: grid;
    align-items: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,1fr);
    /* 對齊項目(垂直) */
    align-items: center;
    text-align: center;
}

#nav a{
    /* 文字-裝飾 - 底線、刪除線 */
    text-decoration: none;
    /* 轉場：轉場所耗費的時間 */
    transition-delay:0.3s;
    color: white;
    font-size: 20px;
}
/* :hover 滑入，即滑鼠移入時的效果 */
#nav a:hover{
    color: red;
    font-size: 22px;
}
/* 橫幅 */
#banner {
    /* 100vh 意思是跟螢幕一樣的高度 100是100%的意思 */
   height: 100vh;
   /* 背景大小：填滿 */
   background-size: cover;
   background-position: center;
   /* 背景圖片 */
   background-image: url(./img/ramensan.jpg);
   display: grid;
   color: white;
   align-items: center;
   text-align: center;
}

#banner div {
    width: 800px;
    margin: 0 auto;
}

#banner div h1,#banner div h4 {
    font-family:  Ngaan;
    text-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

#banner h1 {
    font-size: 180px;
}

#banner h4 {
    font-size: 40px;
    text-align: left;
}

/* section */
section {
    width: 1200px;
    margin: 0 auto;
}

#about > div {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 20px;
}

#about > div .img {
    background-image: url(img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

#about > div p {
    line-height: 2;
    letter-spacing: 5px;
    padding-right: 20px;
}

section h1 {
    font-family: Ngaan;
    margin-top: 60px;
    font-size: 40px;
}

section hr {
    margin-bottom: 40px;
}

#news ul {
    display: grid;
    grid-template-columns: 30% 70%;
    list-style: none;
}

#news ul span {
    color:gray;
    padding: 10px;
}

#news ul li {
    font-size: 24px;
    padding: 10px 0;
}

#news div {
    text-align: right;
}

#news a {
    text-decoration: none;
    color: #252525;
}

#tel p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 2.5;
}